/*Header*/
header{
    position: fixed;
    min-width: 1170px;
    width: 100%;
    height: 60px;
    background: rgb(88,95,96);
    background: linear-gradient(90deg, rgba(88,95,96,1) 0%, rgba(50,51,51,1) 42%, rgba(190,194,195,1) 100%);
}
nav{
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    padding: 0 70px;
}
.logo,
.menu li{
    line-height: 60px;
    float: left;
}
.logo{
    font-size: 28px;
    color: #ffffff;
}
.menu{
    float: right;
}
.menu a{
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
}
.menu li:not(:last-child){
    margin-right: 35px;
}
/*titles*/
.title{
    color: #263244;
    font-size: 24px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: "Franklin Gothic Medium", serif;
}


/*Main*/
.main{
    width: 100%;
    height: /*calc(100% - 60px);*/100%;
    background: url("../img/1614262833.png") 24% 100%/auto 25% no-repeat,url("../img/p-geometricheskii-fon-dlya-prezentatsii.jpg") center/cover no-repeat;
}
.title__container{
    float: left;
    margin-top: 350px;
    margin-left: 404px;
    color: #2c384a;
    text-align: center;
}
.title__container h1{
    font-size: 60px;
    font-weight: bold;
}
.title__container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #3a3c46;
}
.title__container input{
    padding: 13px 15px;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
}
.control__btn{
    margin-top: 55px;
}
.control__btn input:not(:last-child){
    margin-right: 20px;
}


/*aboutMe*/
.aboutMe{
    width: 714px;
    margin: 85px auto 99px;
    text-align: center;
}

.aboutMe>img{
    margin-top: 60px;
    width: 200px;
    border-radius: 50%;
}
.aboutMe_info p{
    text-align: left;
    margin-top: 24px;
    color: #3f495a;
}
.aboutMe_info p:not(:last-child){
    margin-bottom: 38px;
}
.aboutMe input{
    margin-top: 34px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px 10px 10px 34px;
    background: url("../img/downloadResume.png") 10px 50% no-repeat;
}
/*skills*/
.skills{
    background: url("../img/skillsFonImg.jpg") no-repeat;
    text-align: center;
    padding: 108px 0 92px;
}
.skills_wrapper{
    width: 1094px;
    margin: 0 auto;
}
.skills__content ul{
    display: flex;
}
.skills__content img{
    margin-top: 101px;
}
.skills__content h4{
    margin-top: 36px;
    color: #cf7600;
}
.skills__content p{
    margin-top: 20px;
}
/*cases*/
.cases{
    margin: 103px auto 200px;
    max-width: 1170px;
}
.title__cases{
    margin-bottom: 36px;
    text-align: center;
}
.cases>p{
    text-align: center;
}
.slider{
    margin: 42px 0;
}
.slider img{
    width: 100%;
}
.slider__info{
    display: flex;
}
.info_links{
    float: left;
    overflow: hidden;
    width: 400px;
}
.info_links h5{
    text-transform: uppercase;
    font-weight: bold;
    color: #384354;
    margin-bottom: 15px;
}
.info_links p{
    font-size: 16px;
    color: #3f495a;
}
.client{
    margin-bottom: 15px;
}
.info_links input{
    padding: 15px 42px;
    background-color: #63b5ae;
    border-radius: 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    margin-top: 22px;
    font-family: "Franklin Gothic Medium";
}
.info_about_project{
    flex: auto;
}


/*cost_сalculator*/
.cost_сalculator{
    width: 892px;
    margin: 0 auto;
    color: #1c2534;
}
.cost_сalculator h2{
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Franklin Gothic Medium";
    text-align: center;
    margin-bottom: 54px;
}
.cost_сalculator_inputs p{
    text-transform: uppercase;
    margin-bottom: 20px;
}
.cost_сalculator_inputs select{
    width: 891px;
    padding: 23px 0 21px 24px;
    appearance: none;
    background: #eeeeee url("../img/selectorButton.png") 96% 50% no-repeat;
    color: #737373;
}
.cost_сalculator_inputs option:first-child{
    display: none;
}
.type_site{
    margin-bottom: 45px;
}
.design_site{
    margin-bottom: 49px;
}
.cost_сalculator>img{
    margin: 37px 0 24px;
}
.total_terms{
    margin-bottom: 20px;
}
/*statistics*/
.statistics{
    background: url("../img/fonStat.jpg") fixed;
}
.statistics_wrapper{
    max-width: 1025px;
    margin: 153px auto 0;
    padding: 102px 0;
    text-align: center;
}
.statistics_info{
    margin-top: 84px;
    display: flex;
    justify-content: space-between;
    color: #323e4f;
    font-weight: bold;
    font-size: 24px;
}
.statistics_info img{
    margin-bottom: 33px;
}
.statistics_number{
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 26px;
}
.statistics_wrapper p{

}
/*reviews*/
.reviews{
}
.reviews_wrapper{
    max-width: 730px;
    margin: 0 auto;
    padding: 105px 40px 90px;
    text-align: center;
}
.title__reviews{
    margin-bottom: 59px;
}
.reviews_slider>img{
    border-radius: 50%;
    margin-bottom: 34px;
}
.reviews_slider p{
    color: #243042;
    margin-bottom: 48px;
}
.reviews_slider span{
    font-weight: bold;
}
.reviews_slider p:not(:last-child){
    margin-bottom: 34px;
}
.reviews_slider_button img:not(:last-child){
    margin-right: 14px;
}

/*my_contacts*/
.my_contacts{
    /*background: url("../img/fonMyContact.jpg");*/
    background-color: #1c2534;
}
.my_contacts_wrapper{
    max-width: 774px;
    margin: 0 auto;
    padding: 104px 20px 67px;
    text-align: center;
    color: #ffffff;
}
.title__my_contacts h2{
    color: #ffffff;
}
.title__my_contacts{
    margin-bottom: 32px;
}
.my_contacts_wrapper p{
    margin-bottom: 45px;
}
.communication{
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
}
.communication img{
    margin-bottom: 17px;
}









.inputs_form input,
.inputs_form textarea{
    background-color: #d3d6dc;
    border-radius: 10px;
}
.inputTextAndEmail{
    display: flex;
    width: 100%;
    margin-bottom: 14px;
}
.inputTextAndEmail input:first-child{
    margin-right: 30px;
}
.inputTextAndEmail input{
    width: 50%;
    height: 34px;
    padding: 10px 15px 12px;
}
.inputs_form textarea{
    width: 100%;
    height: 94px;
    resize: none;
    padding: 9px 13px;
    margin-bottom: 28px;
}
.formMessageToMe>input{
    margin-bottom: 75px;
    padding: 14px 18px 12px;
    color: #ffffff;
    font-size: 20px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    background: none;
}
.social_network ul{
    display: flex;
    max-width: 420px;
    margin: 0 auto;
    justify-content: space-between;
}