.example-block{
    height: 600px;
    box-shadow: 2px 2px 10px #000000;
    margin: 30px;
}
.list{
    margin: 30px;
    padding: 10px 0px;
    font-size: 20px;
}
.list>li{
    background: url("../img/checkMark.png") left/auto 70% no-repeat;
    padding-left: 20px;
}